@import 'navega.css';

.banner-sección{
    width: 100%;
    height: calc(100vh -120px);
    background-image: url('../imagenes.jpg/logo-2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-sección .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.banner-sección .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;

}